


body{
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}


#Logopng{
	height: 130px;
	width: 130px;
	-webkit-transition: height .2s, width .2s ; /* Safari */
	transition: height .2s, width .2s;
}

.scrolled-logo{
	height: 45px !important;
	width: 45px !important;
}

#Namepng{
	height: 100px;
	width: 280px;
	-webkit-transition: height .5s, width .5s; /* Safari */
	transition: height .5s, width .5s;

}

.scrolled-name{
	height: 35px !important;
	width: 85px !important;
}


.parallax-window {
	background-color: rgba(0,0,0,.3);
    min-height: 2800px;
		-webkit-transition: background-color .5s; /* Safari */
		transition: background-color .5s;
}

.parallax-window-login{
	background-color: rgba(0, 0, 0, .7) !important;
}

.btn-sample {
  color: #ffffff;
  background-color: #C96218;
  border-color: #C96218;

}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #000;
  background-color: #C96218;
  border-color: #000;
}


.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #C96218;
  border-color: #FFFFFF;
}

.btn-sample .badge {
  color: #C96218;
  background-color: #ffffff;
}

.parallax-window h1{
	padding-top: 400px;
	text-align: center;
	font-size: 150px;
	font-family: 'Roboto';
	color: rgba(255,255,255,.9);

}

.parallax-window h2{
		font-family: 'Roboto';
	margin-bottom: 200px;
	text-align: center;
	font-size: 30px;
	color: rgba(255,255,255,.9);
	padding-bottom: 100px;
}

h3{
	padding-top: 0px;
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
}


.window-wrapper{
	height: 400px;

}

.form-inline{
	font-size: 20px;
	color: black;
}


#logsign{
	display: run-in;
}

#main{
	display: block;
}

#login{
	display: none;
}

#register{
	display: none;
}

.nav-link{
	font-size: 20px;
	position: relative;
	-webkit-transition: font-size 1s; /* Safari */
	transition: font-size 1s;
}

.scrolled-link{
	font-size: 15px !important;
}

li > a {
  position: relative;
  color: rgb(142, 66, 0);
  text-decoration: none;
	font-weight: bold;
}

li > a:hover { color: rgb(142, 66, 0) !important; }

li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 25%;
  left: 0;
  background-color: rgb(142, 66, 0);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.login-register > a {
  position: relative;
  color: rgb(142, 66, 0);
  text-decoration: none;
	font-weight: bold;
}

.login-register > a:hover { color: rgb(142, 66, 0) !important; }

.login-register > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -20%;
  left: 0;
  background-color: rgb(142, 66, 0);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.login-register > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.row{
	padding: 30px 10px 10px 30px;
	text-align: center;
	background-color: rgba(0,0,0,.7);
}

#yup{
	font-size: 40px;
	color: yellow;
}

.scroll-nav {
  height: 40px !important;
  line-height: 40px !important;
}


#global-nv {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 130px;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  color: #fff;
  line-height: 100px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

.scrolled-a{
  font-size: 15px !important;
}

h4{
		color: #fff;
}

p{
	color: #fff;
}


hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
	color: #fff;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
	background-color: rgba(0, 0, 0, 0.6);
}

.input-group-text{
	background-color: #C96218;
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 430px;
    padding: 50px 50px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
