
/**
 * Fix user-agent
 */

/**
 * Canvas
 */

.whiteboard{
  height:525px;
  width:500px;
  cursor: url(../image/pencil.cur), default;
  border:2px solid black;
}

.buttons{
  position: absolute;
  margin-right:5px;
  top: 260px;
  margin-right: auto;
  margin-top: auto;
}



.color {
  display: block;
  cursor: pointer;
  border-radius: 25px;
  height: 48px;
  width: 48px;
  margin-top:3px;
}

.button {
  display: block;
  cursor: pointer;
  height: 48px;
  width: 48px;
  margin-top:3px;
}

.buttons{
  position: absolute;
  margin-left:10px;
  top: 0px;
  margin-right: auto;
  margin-top: auto;
}
.button.clear { background-image: url(../image/blank.png); }
.button.save { background-image: url(../image/save.png); }
.button.k { background-image: url(../image/save.png); }
.button.eraser { background-image: url(../image/eraser.png); }

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.orange { background-color: orange; }
.color.gray { background-color: gray; }
